$base: #682017;
.recruit {
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: 50px 0;
  &_row {
    > h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      picture {
        line-height: 0;
        display: inline-block;
        img {
          width: 320px;
          // height: auto;
          height: 59px;
        }
      }
      span {
        font-size: 1.8rem;
        line-height: 45px;
        font-weight: bold;
        color: #682017;
        margin-top: 10px;
      }
    }
  }
  &_intro {
    text-align: center;
    font-size: 1.4rem;
    line-height: 45px;
    font-weight: 500;
    color: #682017;
  }
  &_btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a {
      width: 320px;
      height: 70px;
      position: relative;
      transform: translateZ(0);
      span {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2.1rem;
        font-weight: bold;
        color: $base;
        border: 2px solid #fff;
        border-radius: 10px;
        transition: transform 0.3s ease;
      }
      &::after {
        position: absolute;
        content: "";
        width: 328px;
        height: 80px;
        right: -10px;
        bottom: -12px;
        background: url('images/bg_btn.png') 0 0 no-repeat;
        background-size: contain;
        z-index: -1;
        display: inline-block;
        transition: opacity 0.1s ease 0.1s;
      }
      &:nth-of-type(1) {
        margin-right: 98px;
        span {
          background: #f8c9c7;
        }
      }
      &:nth-of-type(2) {
        span {
          background: #c4e1b6;
        }
      }
      &:hover {
        opacity: 1;
        span {
          transform: translate(10px,12px);
        }
        &::after {
          opacity: 0;
        }
      }
    }
  }
  &_content {
    margin-top: 112px;
    padding: 0 165px;
    > h3 {
      text-align: center;
      picture {
        line-height: 0;
        display: inline-block;
        img {
          width: 228px;
          height: auto;
          height: 48px;
        }
      }
    }
    > ul {
      counter-reset: li;
      margin-top: 15px;
      li {
        counter-increment: li;
        background: #fff;
        padding: 5px;
        &:not(:first-child) {
          margin-top: 20px;
        }
        a {
          display: flex;
          border: 1px solid $base;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 70px;
          em {
            font-style: normal;
            display: inline-flex;
            align-items: center;
            font-size: 2rem;
            color: $base;
            position: relative;
            transform: translateZ(0);
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 10px;
              background: #FFF479;
              left: 0;
              bottom: 0;
              z-index: -1;
            }
            &::before {
              content: counter(li)'.';
              font-size: 2.5rem;
              line-height: 1;
              font-weight: bold;
              color: $base;
              display: inline-block;
              margin-right: 10px;
            }
            span {
              font-size: 2.5rem;
              line-height: 1;
              font-weight: bold;
              display: inline-block;
              margin-left: 15px;
            }
          }
        }
        &:nth-of-type(1) {
          a em img {
            width: 178.67px;
          }
        }
        &:nth-of-type(2) {
          a em img {
            width: 144.26px;
          }
        }
        &:nth-of-type(3) {
          a em img {
            width: 126.84px;
          }
        }
      }
    }
  }
  &_ttl {
    overflow: hidden;
    h3 {
      text-align: center;
      transform: translateZ(0);
      &::before,&::after {
        background: url('images/line.png') 0 0 repeat-x;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 4px;
        position: relative;
        width: 50%;
        transform: translateY(-28px);
      }
      &::before {
        right: 30px;
        margin-left: -50%;
      }
      &::after {
        left: 30px;
        margin-right: -50%;
      }
      picture {
        display: inline-block;
        position: relative;
        transform: translateZ(0);
        &::after {
          position: absolute;
          content: "";
        }
        img {
          height: auto;
        }
      }
    }
  }
  &_duties {
    padding: 0 70px;
    .recruit_ttl {
      padding-top: 95px;
      h3 {
        picture {
          &::after {
            width: 118px;
            height: 92px;
            background: url('images/note_num_01.svg') 0 0 no-repeat;
            background-size: contain;
            top: -15px;
            right: -105px;
          }
          img {
            width: 189px;
            height: 140px;
          }
        }
      }
    }
    > p {
      text-align: center;
      font-size: 1.4rem;
      line-height: 24px;
      font-weight: 500;
      margin: 30px 0 40px;
      color: $base;
    }
    &_dl {
      padding: 0 100px;
      dl {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #fff;
        color: $base;
        padding: 19px 0 30px;
        &:not(:first-child) {
          margin-top: 30px;
        }
        dt {
          font-size: 2.3rem;
          line-height: 45px;
          font-weight: 700;
        }
        dd {
          font-size: 1.6rem;
          line-height: 36px;
          font-weight: 500;
        }
      }
    }
  }
  &_timeline {
    padding: 0 70px;
    position: relative;
    @media only screen and (max-width: 960px) {
      padding: 0 10px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 130px;
      height: 402px;
      background: url('images/employ_01.png') 0 0 no-repeat;
      background-size: contain;
      top: 75px;
      right: 170px;
      z-index: 5;
      @media only screen and (max-width: 960px) {
        right: 0;
      }
    }
    .recruit_ttl {
      padding-top: 112px;
      h3 {
        picture {
          &::after {
            width: 125px;
            height: 98px;
            background: url('images/note_num_02.svg') 0 0 no-repeat;
            background-size: contain;
            top: -35px;
            right: -85px;
          }
          img {
            width: 325px;
            height: 143px;
          }
        }
      }
    }
    &_c {
      padding: 0 100px;
      @media only screen and (max-width: 1100px) {
        padding: 0;
      }
      > p {
        text-align: center;
        font-size: 1.4rem;
        line-height: 45px;
        color: $base;
        font-weight: 500;
        margin: 10px 0 0;
      }
      &_w {
        margin-top: 50px;
      }
      &_r {
        display: flex;
        justify-content: space-between;
        color: $base;
        &:not(:first-child) {
          margin-top: 50px;
        }
        &.none {
          flex-flow: row;

        }
        &.reverse {
          flex-flow: row-reverse;
        }
        ._txt_right {
          text-align: right;
        }
        ._txt_left {
          text-align: left;
        }
        .right {
          width: 350px;
          position: relative;
          transform: translateZ(0);
          h4 {
            font-size: 2.25rem;
            line-height: 45px;
            font-weight: 500;
          }
          p {
            font-size: 1.4rem;
            line-height: 28px;
            font-weight: 500;
          }
          &.clock900 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock900.svg') 0 0 no-repeat;
              background-size: contain;
              left: 20px;
              top: -40px;
            }
          }
          &.clock915 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock915.svg') 0 0 no-repeat;
              background-size: contain;
              right: 20px;
              bottom: 10px;
            }
          }
          &.clock1400 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock1400.svg') 0 0 no-repeat;
              background-size: contain;
              left: 50%;
              transform: translateX(-50%);
              bottom: 40px;
            }
          }
          &.clock1800 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock1800.svg') 0 0 no-repeat;
              background-size: contain;
              left: 20px;
              bottom: 10px;
            }
          }
          &.arrow01 {
            &::after {
              position: absolute;
              content: "";
              width: 149px;
              height: 131.8px;
              background: url('images/arrow_01.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -35px;
              left: 0;
            }
          }
          &.arrow02 {
            &::after {
              position: absolute;
              content: "";
              width: 166px;
              height: 96px;
              background: url('images/arrow_02.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -35px;
              right: 0;
            }
          }
          &.arrow03 {
            &::after {
              position: absolute;
              content: "";
              width: 65px;
              height: 47px;
              background: url('images/arrow_03.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -45px;
              left: 0;
            }
          }
          &.arrow04 {
            &::after {
              position: absolute;
              content: "";
              width: 179px;
              height: 104px;
              background: url('images/arrow_04.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -35px;
              right: 0;
            }
          }
        }
        .left {
          width: 350px;
          font-size: 2.25rem;
          line-height: 45px;
          text-align: right;
          font-weight: 500;
        }
        figure {
          width: 350px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &_ex {
      margin-top: 90px;
      .ex {
        width: 850px;
        background: #fff;
        position: relative;
        transform: translateZ(0);
        color: $base;
        font-size: 1.8rem;
        line-height: 35px;
        padding-top: 35px;
        padding-bottom: 35px;
        @media only screen and (max-width: 1024px) {
          width: percentage(850/960);
        }
        p {
          picture {
            line-height: 0;
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
        }
        figure {
          position: absolute;
          img {
            width: 100%;
            height: auto;
          }
        }
        &:not(:first-child) {
          margin-top: 120px;
        }
        &:nth-child(odd) {
          margin-left: calc(100% - 850px);
          padding-left: 158px;
          padding-right: 40px;
          @media only screen and (max-width: 1024px) {
            padding-left: percentage(158/850);
            padding-right: percentage(40/850);
          }
          figure {
            width: 241px;
            bottom: 0;
            left: -100px;
            @media only screen and (max-width: 1024px){
              width: percentage(181/850);
              left: percentage(0/850);
            }
          }
        }
        &:nth-child(even) {
          padding-right: 158px;
          padding-left: 40px;
          @media only screen and (max-width: 1024px) {
            padding-right: percentage(158/850);
            padding-left: percentage(40/850);

          }
          figure {
            width: 251px;
            bottom: 0;
            right: -100px;
            @media only screen and (max-width: 1024px){
              width: percentage(251/850);
              right: percentage(-100/850);
            }
          }
        }
      }
    }
  }
  &_faq {
    padding: 0 70px;
    .recruit_ttl {
      padding-top: 95px;
      h3 {
        picture {
          &::after {
            width: 118px;
            height: 92px;
            background: url('images/note_num_03.svg') 0 0 no-repeat;
            background-size: contain;
            top: -25px;
            right: -65px;
          }
          img {
            width: 258.92px;
            height: 140px;
          }
        }
      }
    }
    > p {
      font-size: 1.4rem;
      line-height: 45px;
      font-weight: 500;
      color: $base;
      text-align: center;
      margin: 20px 0 0;
    }
    &_w {
      margin-top: 30px;
      background: url('images/bg_faq.png') -10px 10px repeat-y #fff;
      padding: 90px 95px;
      dl {
        dt {
          margin-bottom: 35px;
          span {
            font-size: 2.3rem;
            line-height: 1;
            font-weight: 700;
            color: $base;
            display: inline-block;
            position: relative;
            transform: translateZ(0);
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 5px;
              background: #FFF479;
              left: 0;
              bottom: -3px;
              z-index: -1;
            }
          }
        }
        dd {
          color: $base;
          font-size: 1.5rem;
          line-height: 28px;
          font-weight: 700;
          span {
            font-size: 1.3rem;
            line-height: 35px;
            font-weight: 400;
          }
          p {
            + p {
              margin-top: 40px;
            }
          }
        }
        &:not(:first-child) {
          margin-top: 50px;
        }
      }
    }
  }
}