$base: #682017;
.recruit {
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: vw(60) 0 vw(90);
  &_row {
    > h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      picture {
        line-height: 0;
        display: inline-block;
        img {
          width: vw(480);
          height: auto;
        }
      }
      span {
        font-size: vw(27);
        line-height: vw(45);
        font-weight: bold;
        color: #682017;
        margin-top: vw(10);
      }
    }
  }
  &_intro {
    text-align: center;
    font-size: vw(23);
    line-height: vw(46);
    font-weight: bold;
    color: #682017;
    width: calc(100% + #{vw(68)});
    margin: 0 vw(-34);
  }
  &_btn {
    display: flex;
    justify-content: space-between;
    margin-top: vw(90);
    a {
      width: vw(320);
      height: vw(70);
      position: relative;
      transform: translateZ(0);
      span {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: vw(23);
        font-weight: bold;
        color: $base;
        border: 2px solid #fff;
        border-radius: vw(10);
      }
      &::after {
        position: absolute;
        content: "";
        width: vw(328);
        height: vw(80);
        right: vw(-10);
        bottom: vw(-12);
        background: url('images/bg_btn.png') 0 0 no-repeat;
        background-size: contain;
        z-index: -1;
        display: inline-block;
      }
      &:nth-of-type(1) {
        span {
          background: #f8c9c7;
        }
      }
      &:nth-of-type(2) {
        span {
          background: #c4e1b6;
        }
      }
    }
  }
  &_content {
    margin-top: vw(120);
    > h3 {
      text-align: center;
      picture {
        line-height: 0;
        display: inline-block;
        img {
          width: vw(343);
          height: auto;
        }
      }
    }
    > ul {
      counter-reset: li;
      margin-top: vw(45);
      li {
        counter-increment: li;
        background: #fff;
        padding: vw(5);
        &:not(:first-child) {
          margin-top: vw(30);
        }
        a {
          display: flex;
          border: 1px solid $base;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: vw(105);
          em {
            font-style: normal;
            display: inline-flex;
            align-items: center;
            font-size: vw(30);
            color: $base;
            position: relative;
            transform: translateZ(0);
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: vw(10);
              background: #FFF479;
              left: 0;
              bottom: 0;
              z-index: -1;
            }
            &::before {
              content: counter(li)'.';
              font-size: vw(37.5);
              line-height: 1;
              font-weight: bold;
              color: $base;
              display: inline-block;
              margin-right: 10px;
            }
            span {
              font-size: vw(37.5);
              line-height: 1;
              font-weight: bold;
              white-space: nowrap;
            }
            img {
              height: vw(26);
              width: auto;
              margin: 0 vw(20);
              display: inline-block;
            }
          }
        }
      }
    }
  }
  &_ttl {
    overflow: hidden;
    h3 {
      text-align: center;
      transform: translateZ(0);
      &::before,&::after {
        background: url('images/line.png') 0 0 repeat-x;
        background-size: contain;
        content: "";
        display: inline-block;
        height: vw(8);
        position: relative;
        width: 50%;
        transform: translateY(#{vw(-40)});
      }
      &::before {
        right: vw(40);
        margin-left: -50%;
      }
      &::after {
        left: vw(40);
        margin-right: -50%;
      }
      picture {
        display: inline-block;
        position: relative;
        transform: translateZ(0);
        &::after {
          position: absolute;
          content: "";
        }
        img {
          height: auto;
        }
      }
    }
  }
  &_duties {
    .recruit_ttl {
      padding-top: vw(100);
      h3 {
        picture {
          &::after {
            width: vw(177.968);
            height: vw(138.442);
            background: url('images/note_num_01.svg') 0 0 no-repeat;
            background-size: contain;
            top: vw(-25);
            right: vw(-155);
          }
          img {
            width: vw(284);
          }
        }
      }
    }
    > p {
      text-align: center;
      font-size: vw(23);
      line-height: vw(46);
      font-weight: 700;
      margin: vw(40) 0;
      color: $base;
    }
    &_dl {
      dl {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #fff;
        color: $base;
        padding: vw(40) vw(10) vw(60);
        &:not(:first-child) {
          margin-top: vw(45);
        }
        dt {
          font-size: vw(34.5);
          line-height: vw(67.5);
          font-weight: 700;
        }
        dd {
          font-size: vw(24);
          line-height: vw(54);
          font-weight: 500;
          word-break: break-word;
        }
      }
    }
  }
  &_timeline {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: vw(130);
      height: vw(402);
      background: url('images/employ_01.png') 0 0 no-repeat;
      background-size: contain;
      top: vw(275);
      right: vw(-15);
      z-index: 5;
    }
    .recruit_ttl {
      padding-top: vw(145);
      width: calc(100% + #{vw(68)});
      margin: 0 vw(-34);
      h3 {
        picture {
          &::after {
            width: vw(187);
            height: vw(148);
            background: url('images/note_num_02.svg') 0 0 no-repeat;
            background-size: contain;
            top: vw(-50);
            right: vw(-128);
          }
          img {
            width: vw(486);
          }
        }
      }
    }
    &_c {
      > p {
        text-align: center;
        font-size: vw(23);
        line-height: vw(46);
        color: $base;
        font-weight: 700;
        margin: vw(20) 0 0;
      }
      &_w {
        margin-top: vw(85);
      }
      &_r {
        display: flex;
        flex-direction: column;
        color: $base;
        padding: 0 vw(77);
        &:not(:first-child) {
          margin-top: vw(50);
        }
        &.none {

        }
        &.reverse {

        }
        .right {
          position: relative;
          transform: translateZ(0);
          &::before,&::after {
            display: none;
          }
          h4 {
            font-size: vw(39);
            line-height: vw(67.5);
            font-weight: 500;
            margin-top: vw(20);
          }
          p {
            font-size: vw(23);
            line-height: vw(46);
            font-weight: 500;
          }
          &.clock900 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock900.svg') 0 0 no-repeat;
              background-size: contain;
              left: 20px;
              top: -40px;
            }
          }
          &.clock915 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock915.svg') 0 0 no-repeat;
              background-size: contain;
              right: 20px;
              bottom: 10px;
            }
          }
          &.clock1400 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock1400.svg') 0 0 no-repeat;
              background-size: contain;
              left: 50%;
              transform: translateX(-50%);
              bottom: 40px;
            }
          }
          &.clock1800 {
            &::before {
              position: absolute;
              content: "";
              width: 90px;
              height: 90px;
              background: url('images/clock1800.svg') 0 0 no-repeat;
              background-size: contain;
              left: 20px;
              bottom: 10px;
            }
          }
          &.arrow01 {
            &::after {
              position: absolute;
              content: "";
              width: 149px;
              height: 131.8px;
              background: url('images/arrow_01.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -35px;
              left: 0;
            }
          }
          &.arrow02 {
            &::after {
              position: absolute;
              content: "";
              width: 166px;
              height: 96px;
              background: url('images/arrow_02.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -35px;
              right: 0;
            }
          }
          &.arrow03 {
            &::after {
              position: absolute;
              content: "";
              width: 65px;
              height: 47px;
              background: url('images/arrow_03.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -45px;
              left: 0;
            }
          }
          &.arrow04 {
            &::after {
              position: absolute;
              content: "";
              width: 179px;
              height: 104px;
              background: url('images/arrow_04.svg') 0 0 no-repeat;
              background-size: contain;
              bottom: -35px;
              right: 0;
            }
          }
        }
        .left {
          font-size: vw(33.75);
          line-height: vw(67.5);
          font-weight: 500;
        }
        figure {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &_ex {
      margin-top: vw(425);
      .ex {
        background: #fff;
        position: relative;
        transform: translateZ(0);
        color: $base;
        font-size: vw(27);
        line-height: vw(52.5);
        padding: vw(37.5) vw(75);
        p {
          picture {
            line-height: 0;
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
        }
        figure {
          position: absolute;
          img {
            width: 100%;
            height: auto;
          }
        }
        &:not(:first-child) {
          margin-top: vw(420);
        }
        &:nth-child(odd) {
          figure {
            width: vw(295);
            top: vw(-383);
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(even) {
          figure {
            width: vw(316);
            top: vw(-383);
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  &_faq {
    .recruit_ttl {
      padding-top: vw(125);
      h3 {
        picture {
          &::after {
            width: vw(174);
            height: vw(148);
            background: url('images/note_num_03.svg') 0 0 no-repeat;
            background-size: contain;
            top: vw(-35);
            right: vw(-145);
          }
          img {
            width: vw(384.942);
          }
        }
      }
    }
    > p {
      font-size: vw(23);
      line-height: vw(46);
      font-weight: 700;
      color: $base;
      text-align: center;
      margin: vw(20) 0 0;
    }
    &_w {
      margin-top: vw(20);
      background: #fff;
      padding: vw(70);
      dl {
        dt {
          margin-bottom: vw(35);
          span {
            font-size: vw(34.5);
            line-height: vw(57);
            font-weight: 700;
            color: $base;
            display: inline;
            position: relative;
            transform: translateZ(0);
            border-bottom: vw(10) solid #FFF479;
            transform: translateY(#{vw(5)});
          }
        }
        dd {
          color: $base;
          font-size: vw(23);
          line-height: vw(40);
          font-weight: 700;
          span {
            font-weight: 400;
          }
          p {
            + p {
              margin-top: vw(40);
            }
          }
        }
        &:not(:first-child) {
          margin-top: vw(40);
        }
      }
    }
  }
}