.wrapper {
  overflow: hidden;
}
.fv {
  background: linear-gradient(90deg, #fad7d5 50%, #d3e9c8 50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  &_wrap {
    height: 0;
    position: relative;
    height: 100%;
    .pos {
      position: absolute;
      display: flex;
      align-items: flex-end;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
      @each $cl,$w,$h,$l,$t in ('tree',72,66,199,53),('elderlycouple',107,103,128,116),('bird',113,35,581,68),('yoga',75,88,-79,450),('donut',300.5,406.5,-17,215),('piece',298.5,396.5,646,171),('babycar',103,116,280,555),('family',192,108,536,521) {
        &.#{$cl} {
          width: percentage($w/940);
          height: percentage($h/768);
          left: percentage($l/940);
          top: percentage($t/768);
        }
      }
      &.biglogo {
        width: percentage(311/940);
        height: percentage(124/768);
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
      &.girl {
        width: percentage(110.5/940);
        height: percentage(252.5/768);
        top: percentage(43/768);
        left: percentage(302/940);
        // animation: girl 5s linear infinite;
        // animation-play-state: paused;
        cursor: pointer;
        &:hover {
          // animation-play-state: running;
          animation: girl 3s linear 1;
        }
      }
      &.bycicle_man {
        width: percentage(96/940);
        height: percentage(140/768);
        top: percentage(97/768);
        left: percentage(665/940);
        transition: all 1s ease;
        cursor: pointer;
        &:hover {
          transform: translate(-50px,50px);
        }
      }
      &.soccer {
        width: 95px;
        height: 134px;
        top: 236px;
        right: -126px;
        &:hover {
          &::after {
            animation: ball 1.5s linear 1;
          }
        }
        &::after {
          position: absolute;
          content: "";
          width: 23px;
          height: 27px;
          background: url('../img/ball.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          bottom: 0;
          // animation: ball 5s linear infinite;
          // animation-play-state: paused;
        }
      }
      &.skate {
        width: percentage(72/940);
        height: percentage(148/768);
        bottom: 0;
        left: percentage(105/940);
        transition: all 1s ease;
        &:hover {
          transform: translate(50px,0);
        }
      }
      &.bycicle_woman {
        width: percentage(169/940);
        height: percentage(131/768);
        bottom: 0;
        right: percentage(28/940);
        transition: all 1s ease;
        &:hover {
          transform: translate(50px,0);
        }
      }
      &.arrow_down {
        width: 50px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 52px;
        cursor: pointer;
      }
    }
  }
}
.news {
  background: linear-gradient(90deg, #fad7d5 50%, #d3e9c8 50%);
  position: relative;
  &_row {
    position: relative;
  }
  &_inner {
    padding: 60px 0 36px;
  }
  &_slide {
    position: relative;
    ul {
      padding: 0 42px;
      position: relative;
      z-index: 10;
      &::before {
        position: absolute;
        content: "";
        width: 1000%;
        height: calc(100% + 60px);
        top: -60px;
        background: #fad7d5;
        z-index: 10;
        right: 0;
        margin-right: 96%
      }
      &::after {
        position: absolute;
        content: "";
        width: 1000%;
        height: calc(100% + 60px);
        top: -60px;
        background: #d3e9c8;
        z-index: 10;
        left: 0;
        margin-left: 96%;
      }
      li {
        width: 260px;
        margin: 0 12.5px;
        float: left;
        position: relative;
        &.active {
          .extra {
            visibility: visible;
            backface-visibility: visible;
            opacity: 1;
          }
        }
        > a {
          display: block;
          height: 0;
          padding-top: 100%;
          position: relative;
          outline: none;
          figure {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            background: #fff;
            border-radius: 50%;
            transform: translateZ(0);
            padding: percentage(16/260) 0 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            &::after {
              position: absolute;
              content: "";
              width: percentage(233/260);
              height: 0;
              padding-top: percentage(234/260);
              background: url('../img/circle_doc.png') 0 0 no-repeat;
              background-size: contain;
              left: percentage(36/260);
              top: 0;
              margin-top: percentage(36/260);
              z-index: -1;
            }
            &::before {
              position: absolute;
              content: "";
              width: percentage(64/260);
              height: 0;
              padding-top: percentage(64/260);
              background: url('../img/news.svg') 0 0 no-repeat;
              background-size: contain;
              top: 0;
              left: 0;
              z-index: -1;
            }
            img {
              max-width: 100%;
              width: #{(219/2)}px;
              height: auto;
            }
            figcaption {
              font-size: 1.3rem;
              line-height: 1.5;
              text-align: center;
              color: #682017;
              width: 100%;
              height: 38px;
              margin-top: percentage(13/260);
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              z-index: 99;
              em {
                font-style: normal;
              }
              span {
                position: absolute;
                width: 40px;
                height: 40px;
                display: inline-block;
                text-indent: -9999px;
                overflow: hidden;
                background: url('../img/btn_more.svg') 0 0 no-repeat;
                background-size: contain;
                top: -25px;
                right: 35px;
              }
            }
          }
        }
        .extra {
          position: absolute;
          width: 370px;
          background: #fff;
          padding: 15px;
          background-size: 100% 100%;
          bottom: 50%;
          left: -10px;
          display: flex;
          z-index: 19;
          box-shadow: 2px 2px 4px 4px rgba(#000,0.35);
          visibility: hidden;
          backface-visibility: hidden;
          opacity: 0;
          transition: visibility 0.3s ease;
          &::before {
            position: absolute;
            content: "";
            width: 50px;
            height: 46px;
            background: url('../img/bg_mess.png') 0 0 no-repeat;
            background-size: contain;
            bottom: -46px;
            left: 58%;
            transform: translateX(-50%);
          }
          figure {
            width: 185px;
            line-height: 0;
            img {
              width: 100%;
              height: 185px;
              object-fit: cover;
            }
          }
          article {
            width: calc(100% - 185px);
            padding-left: 15px;
            h3 {
              font-size: 1.3rem;
              line-height: 1.5;
              color: #b05529;
              text-align: center;
            }
            p {
              font-size: 1.1rem;
              line-height: 1.5;
              color: #b05529;
              margin-top: 5px;
            }
            span {
              width: 100%;
              display: block;
              text-align: center;
              font-size: 1.1rem;
              line-height: 18px;
              border-radius: 9px;
              background: #b05529;
              color: #fff;
            }
          }
          a {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 11px;
            height: 11px;
            text-indent: -9999px;
            display: inline-block;
            overflow: hidden;
            background: url('../img/ic_close.svg') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .slick-list {
      z-index: 19;
      overflow: inherit;
      .slick-slide {
        visibility: hidden;
        &:not([aria-hidden="false"]) {
          .extra {
            display: none;
          }
        }
        &[aria-hidden="false"] {
          visibility: visible;
        }
      }
    }
    .slick-track {
      padding: 0 0 25px;
    }
    .slick-arrow {
      width: 25px;
      height: 43px;
      text-indent: -9999px;
      overflow: hidden;
      border: none;
      outline: none;
      background-color: transparent;
      box-shadow: none;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      cursor: pointer;
      z-index: 20;
      &.slick-next {
        background: url('../img/arrow_right.png') 0 0 no-repeat;
        background-size: contain;
        right: 0;
      }
      &.slick-prev {
        background: url('../img/arrow_left.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
      }
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    a {
      width: 200px;
      height: 40px;
      background: url('../img/bkg_btn.png') no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      line-height: 1;
      color: #4f4d62;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 26px;
        height: 9px;
        background: url('../img/arr_btn.png') 0 0 no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }
    }
  }
  &_airship {
    position: absolute;
    right: 33px;
    top: 320px;
    width: 96px;
    z-index: 20;
    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      font-size: 1.3rem;
      line-height: 1;
      color: #682017;
      width: 100%;
      text-align: center;
      top: 40px;
    }
  }
  &_list {
    padding: 0 30px;
    margin-top: 40px;
    &_border {
      border: 1px solid #fff;
      padding: 5px;
    }
    &_w {
      padding: 10px 0;
      background: #fff;
    }
    .scrollable {
      overflow: hidden;
      position: relative;
      &.showScroll::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        height: 150px;
        width: 8px;
        background: #fff;
      }
      .scroller {
        z-index: 5;
        cursor: pointer;
        position: absolute;
        width: 8px;
        background: #fff;
        border: 1px solid #000;
        top: 0;
        right: 8px;
        transition: top .08s;
      }
      .bx_rules {
        overflow-y: scroll;
        width: calc(100% + 17px);
        padding: 0 30px 0 0;
        height: 160px;
      }
      .bx_content {
        ul {
          padding: 0 30px;
          li {
            width: 100%;
            padding: 14px 0 11px;
            &:not(:first-child) {
              border-top: 1px solid #A7A6B0;
            }
            p {
              display: flex;
              align-items: center;
              flex-flow: row wrap;
              font-size: 1.1rem;
              line-height: 1;
              color: #4f4d62;
              padding: 0 30px;
              time {
                width: 72px;
                line-height: 1.5;
              }
              > a {
                width: 93px;
                height: 16px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                border-radius: 8px;
                &:not(:last-of-type) {
                  margin-right: 3px;
                }
                &.cat_01 {
                  background: #f8c9c7;
                }
                &.cat_02 {
                  background: #fff479;
                }
                &.cat_03 {
                  background: #c4e1b6;
                }
                &.cat_04 {
                  background: #d3edfb;
                }
              }
              em {
                display: block;
                font-style: normal;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 16px;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
 }
 .what_lil {
   text-align: center;
   line-height: 0;
   background: linear-gradient(90deg, #fad7d5 50%, #d3e9c8 50%);
   padding: 41px 0 35px;
   img {
     width: 390px;
     height: 48px;
   }
 }
 .ie .fv_wrap .arrow_down img{
  width: 50px;
  height: 50px;
 }
.en {
  .news {
    display: none;
  }
}