.fv {
  background: linear-gradient(90deg, #fad7d5 50%, #d3e9c8 50%);
  width: 100%;
  overflow: hidden;
  &_wrap {
    height: 0;
    position: relative;
    height: 100vh;
    .pos {
      position: absolute;
      display: flex;
      align-items: flex-end;
      img {
        // max-width: 100%;
        width: 100%;
        height: auto;
      }
      @each $cl,$w,$h,$l,$t in ('bird',188,58,437,61),('donut',397,537,42,71),('piece',394,519,317,770) {
        &.#{$cl} {
          width: vw($w);
          height: vw($h);
          left: vw($l);
          top: vw($t);
        }
      }
      &.biglogo {
        width: vw(466);
        height: vw(186);
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
      &.girl {
        width: vw(198);
        height: vw(454);
        left: vw(75);
        top: vw(780);
      }
      &.bycicle_man {
        width: vw(173);
        height: vw(256);
        top: vw(91);
        left: vw(510);
      }
      &.arrow_down {
        width: vw(91);
        height: vw(91);
        left: 50%;
        transform: translateX(-50%);
        bottom: vw(40);
        cursor: pointer;
      }
    }
  }
}
.news {
  background: linear-gradient(90deg, #fad7d5 50%, #d3e9c8 50%);
  &_row {
    position: relative;
  }
  &_inner {
    padding: vw(50) 0 vw(55);
  }
  &_slide {
    ul {
      padding: 0 vw(50);
      &::after {
        content: "";
        clear: both;
        display: table;
      }
      li {
        height: vw(500);
        margin: 0 vw(50);
        float: left;
        position: relative;
        &.active {
          .extra {
            visibility: visible;
            backface-visibility: visible;
            opacity: 1;
          }
        }
        > a {
          display: block;
          height: 100%;
          figure {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            background: #fff;
            border-radius: 50%;
            height: 100%;
            transform: translateZ(0);
            padding: vw(30) 0 0;
            box-sizing: border-box;
            width: 100%;
            &::after {
              position: absolute;
              content: "";
              width: vw(448);
              height: vw(448);
              background: url('../img/circle_doc.png') 0 0 no-repeat;
              background-size: contain;
              left: vw(66);
              top: vw(66);
              z-index: -1;
            }
            &::before {
              position: absolute;
              content: "";
              width: vw(111);
              height: vw(111);
              background: url('../img/news.svg') 0 0 no-repeat;
              background-size: contain;
              top: 0;
              left: 0;
              z-index: -1;
            }
            img {
              max-width: 100%;
              width: vw(197);
              height: auto;
            }
            figcaption {
              font-size: vw(28);
              line-height: vw(42);
              text-align: center;
              color: #682017;
              width: 100%;
              height: vw(84);
              margin-top: vw(23);
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              em {
                font-style: normal;
              }
              span {
                position: absolute;
                width: vw(70);
                height: vw(70);
                display: inline-block;
                text-indent: -9999px;
                overflow: hidden;
                background: url('../img/btn_more.svg') 0 0 no-repeat;
                background-size: contain;
                top: vw(-50);
                right: vw(70);
              }
            }
          }
        }
        .extra {
          position: absolute;
          width: calc(100% + #{vw(100)});
          background: #fff;
          padding: vw(15);
          background-size: 100% 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          z-index: 19;
          box-shadow: 2px 2px 4px 4px rgba(#000,0.35);
          visibility: hidden;
          backface-visibility: hidden;
          opacity: 0;
          transition: visibility 0.3s ease;
          figure {
            width: vw(185);
            line-height: 0;
            img {
              width: 100%;
              height: vw(185);
              object-fit: cover;
            }
          }
          article {
            width: calc(100% - #{vw(185)});
            padding-left: vw(20);
            h3 {
              font-size: vw(22);
              line-height: 1.5;
              color: #b05529;
              text-align: center;
            }
            p {
              font-size: vw(22);
              line-height: 1.5;
              color: #b05529;
              margin-top: vw(10);
            }
            span {
              width: 100%;
              display: block;
              text-align: center;
              font-size: vw(22);
              line-height: vw(36);
              border-radius: vw(18);
              background: #b05529;
              color: #fff;
              margin-top: vw(20);
            }
          }
          a {
            position: absolute;
            top: vw(10);
            right: vw(10);
            width: vw(22);
            height: vw(22);
            text-indent: -9999px;
            display: inline-block;
            overflow: hidden;
            background: url('../img/ic_close.svg') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .slick-track {
      padding: 0 0 vw(57);
    }
    .slick-arrow {
      width: vw(33);
      height: vw(60);
      text-indent: -9999px;
      overflow: hidden;
      border: none;
      outline: none;
      background-color: transparent;
      box-shadow: none;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      cursor: pointer;
      &.slick-next {
        background: url('../img/arrow_right.png') 0 0 no-repeat;
        background-size: contain;
        right: 0;
      }
      &.slick-prev {
        background: url('../img/arrow_left.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
      }
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    a {
      width: vw(360);
      height: vw(72);
      background: url('../img/bkg_btn.png') no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: vw(23);
      line-height: 1;
      color: #4f4d62;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: vw(48);
        height: vw(17);
        background: url('../img/arr_btn.png') 0 0 no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: vw(34);
      }
    }
  }
  &_list {
    margin-top: vw(50);
    &_border {
      border: 1px solid #fff;
      padding: vw(5);
    }
    &_w {
      padding: vw(10) 0;
      background: #fff;
    }
    .scrollable {
      overflow: hidden;
      background: #fff;
      position: relative;
      &.showScroll::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        height: 150px;
        width: 8px;
        background: #fff;
        transform: translateY(0);
      }
      .scroller {
        z-index: 5;
        cursor: pointer;
        position: absolute;
        width: 8px;
        background: #fff;
        border: 1px solid #000;
        top: 0;
        right: vw(8);
        transition: top .08s;
      }
      .bx_rules {
        overflow-y: scroll;
        width: calc(100% + #{vw(17)});
        padding: 0 vw(30) 0 0;
        height: vw(410);
      }
      .bx_content {
        ul {
          padding: 0 vw(35);
          li {
            width: 100%;
            padding: vw(24) 0 vw(21);
            &:not(:first-child) {
              border-top: 1px solid #A7A6B0;
            }
            p {
              display: flex;
              align-items: center;
              flex-flow: row wrap;
              font-size: vw(21);
              line-height: vw(28);
              color: #4f4d62;
              time {
                margin-right: vw(14);
              }
              > a {
                width: vw(167);
                height: vw(28);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: vw(14);
                font-size: vw(18);
                &:not(:last-of-type) {
                  margin-right: 3px;
                }
                &.cat_01 {
                  background: #f8c9c7;
                }
                &.cat_02 {
                  background: #fff479;
                }
                &.cat_03 {
                  background: #c4e1b6;
                }
                &.cat_04 {
                  background: #d3edfb;
                }
              }
              em {
                font-style: normal;
                width: 100%;
                margin-top: vw(14);
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}
.what_lil {
  text-align: center;
  padding: vw(20) 0 vw(55);
  line-height: 0;
  background: linear-gradient(90deg, #fad7d5 50%, #d3e9c8 50%);
  img {
    width: vw(583);
    height: auto;
  }
}
.en {
  .news {
    display: none;
  }
}
