.footer {
  &_top {
    background: #fff;
    ul {
      display: flex;
      justify-content: space-between;
      padding: vw(25) vw(30);
      li {
        // &:not(:last-child) {
        //   margin-right: vw(20)
        // }
        a {
          font-size: vw(21);
          line-height: 1;
          color: #4f4d62;
        }
      }
    }
  }
  &_bottom {
    padding: vw(25) 0;
    background: #682017;
    text-align: center;
    font-size: vw(26);
    color: #fff;
  }
}