.footer {
  &_top {
    background: #fff;
    ul {
      display: flex;
      justify-content: center;
      padding: 25px 0;
      li {
        &:not(:last-child) {
          margin-right: 60px;
        }
        a {
          font-size: 1.1rem;
          line-height: 1;
          color: #4f4d62;
        }
      }
    }
  }
  &_bottom {
    padding: 25px 0;
    background: #682017;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 2px;
  }
}
