.header {
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: #fff;
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    h1 {
      font-size: 0;
      width: 136px;
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_nav {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: calc(100% - 136px);
    padding: 0 0 0 40px;
  }
  &_list {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    li {
      &:not(:last-child) {
        margin-right: 30px;
      }
      a {
        font-size: 1.1rem;
        line-height: 1;
        color: #682017;
        white-space: nowrap;
        word-break: keep-all;
      }
    }
  }
  &_social {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        display: inline-flex;
        font-size: 1.1rem;
        line-height: 30px;
        position: relative;
        padding: 0 0 0 28px;
        color: #682017;
        transition: transform 0.3s ease;
        &::before {
          position: absolute;
          content: "";
          width: 25px;
          height: 25px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          overflow: hidden;
        }
        &:hover {
          transform: translateY(-5px);
        }
        &.tw {
          &::before {
            background: url('../img/icon_twitter.svg') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &.ins {
          &::before {
            background: url('../img/icon_ins.svg') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  &_lang {
    position: relative;
    width: 57.69px;
    height: 25px;
    border-radius: 12px;
    transform: translateZ(0);
    &::before {
      position: absolute;
      z-index: -1;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: normal;
      color: #682017;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      content: "";
    }
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 0;
      border: 1px solid #682017;
      transition: left 0.3s ease;
      box-sizing: border-box;
      cursor: pointer;
    }
    &.jp {
      &::before {
        background: url('../img/lang_jp.svg') 0 0 no-repeat;
        background-size: contain;
      }
      span {
        left: -1px;
      }
    }
    &.en {
      &::before {
        background: url('../img/lang_en.svg') 0 0 no-repeat;
        background-size: contain;
      }
      span {
        left: calc(100% - 22px);
      }
    }
  }
}
.en {
  .header {
    &_list {
      li:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
}