.header {
  position: relative;
  background: #fff;
  transform: translateZ(0);
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
  &_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: vw(115);
  }
  h1 {
    font-size: 0;
    width: vw(209);
    a {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: vw(30);
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    &.hamburger--spin {
      .hamburger-inner {
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-duration: .22s;
        &:before {
          transition: top .1s ease-in .25s, opacity .1s ease-in;
        }
        &:after {
          transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
        }
      }
    }
    &.open {
      .hamburger-inner {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: rotate(225deg);
        &:before {
          top: 0;
          transition: top .1s ease-out, opacity .1s ease-out .12s;
          opacity: 0;
        }
        &:after {
          bottom: 0;
          transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
          transform: rotate(-90deg);
        }
      }
    }
  }
  .hamburger-box {
    width: vw(60);
    height: vw(45);
    position: relative;
    padding-top: vw(20);
    .hamburger-inner {
      position: absolute;
      width: 100%;
      height: vw(6);
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: vw(3);
      background-color: #682017;
      &:before {
        top: vw(-20);
      }
      &:after {
        bottom: vw(-20);
      }
      &:before,
      &:after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: vw(6);
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: vw(3);
        background-color: #682017;
      }
    }
  }
  // &_list {
  //   li {
  //     &:not(:first-child) {
  //       border-top: 1px dotted #682017;
  //     }
  //     a {
  //       display: block;
  //       width: 100%;
  //       position: relative;
  //       font-size: vw(30);
  //       line-height: 1;
  //       padding: vw(70) 0 vw(70) vw(30);
  //       font-weight: 500;
  //       color: #682017;
  //       &::before {
  //         position: absolute;
  //         content: "";
  //         width: vw(18);
  //         height: vw(31);
  //         background: url('../img/arrow_nav.png') 0 0 no-repeat;
  //         background-size: contain;
  //         top: 50%;
  //         transform: translateY(-50%);
  //         right: vw(20);
  //       }
  //     }
  //   }
  // }
  &_social {
    display: flex;
    justify-content: center;
    padding: vw(45) 0;
    border-top: 1px dotted #682017;
    li {
      // width: vw(85);
      // height: vw(85);
      // line-height: 0;
      &:not(:last-child) {
        margin-right: vw(32);
      }
      a {
        display: inline-flex;
        font-size: vw(33);
        line-height: 1;
        position: relative;
        padding: 0 0 0 vw(85);
        color: #682017;
        &::before {
          position: absolute;
          content: "";
          width: vw(74);
          height: vw(74);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          overflow: hidden;
        }
        &.tw {
          &::before {
            background: url('../img/icon_twitter.svg') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &.ins {
          &::before {
            background: url('../img/icon_ins.svg') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  &_nav {
    position: absolute;
    top: vw(115);
    height: calc(100vh - #{vw(115)});
    width: vw(600);
    left: vw(-600);
    z-index: -1;
    transition: left 0.3s ease;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateZ(0);
    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      height: 100%;
      background: rgba(#C4E1B6,0.5);
      top: 0;
      left: vw(-600);
      z-index: -1;
      transition: all 0.3s ease 0s;
      opacity: 0;
      backface-visibility: hidden;
    }
    .header_list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      position: relative;
      z-index: 10;
      li {
        display: flex;
        height: calc(100% /6);
        &:not(:first-child) {
          border-top: 1px dotted #682017;
        }
        a {
          display: block;
          width: 100%;
          position: relative;
          font-size: 3.91134vw;
          line-height: 1;
          padding: 0 0 0 3.91134vw;
          font-weight: 500;
          color: #682017;
          display: flex;
          height: 100%;
          align-items: center;
          &::before {
            position: absolute;
            content: "";
            width: vw(18);
            height: vw(31);
            background: url('../img/arrow_nav.png') 0 0 no-repeat;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: vw(20);
          }
        }
      }
    }
    &.open {
      left: 0;
      z-index: 60;
      &::after {
        left: vw(600);
        opacity: 1;
      }
    }
  }
  &_lang {
    position: absolute;
    width: vw(86.538);
    height: vw(37.5);
    border-radius: vw(18);
    transform: translateZ(0);
    top: 50%;
    transform: translateY(-50%);
    right: vw(30);
    &::before {
      position: absolute;
      z-index: -1;
      color: #682017;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      content: "";
    }
    span {
      display: inline-block;
      width: vw(37);
      height: vw(37);
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 0;
      border: 1px solid #682017;
      transition: left 0.3s ease;
      box-sizing: border-box;
      cursor: pointer;
    }
    &.jp {
      &::before {
        background: url('../img/lang_jp.svg') 0 0 no-repeat;
        background-size: contain;
      }
      span {
        left: -1px;
      }
    }
    &.en {
      &::before {
        background: url('../img/lang_en.svg') 0 0 no-repeat;
        background-size: contain;
      }
      span {
        left: calc(100% - #{vw(35)});
      }
    }
  }
}