.st_happiness{
  padding: 60px 0 53px;
  position: relative;
  &:before{
    content:"";
    background: url(../img/bf_hp.png) repeat-x;
    width: 100%;
    height: 12px;
    position: absolute;
    top: -12px;
    left: 0;
  }
  .wrap{
    position: relative;
    transform: translateZ(0);
    &:before{
      content:"";
      background: url(../img/hp_01_pc.png) no-repeat;
      background-size: contain;
      width: percentage(256/1100);
      height: 0;
      padding-top: percentage(307/1100);
      position: absolute;
      top: 50%;
      left: 52px;
      padding-bottom: 48px;
      transform: translateY(-50%);
      z-index: -1;
    }
    &:after{
      content:"";
      background: url(../img/hp_02_pc.png) no-repeat;
      background-size: contain;
      width: percentage(239/1100);
      height: 0;
      padding-top: percentage(241/1100);
      position: absolute;
      top: 50%;
      right: 83px;
      transform: translateY(-50%);
      z-index: -1;
    }
  }
  .ttl_hp{
    line-height: 0;
    text-align: center;
    img {
      width: 468px;
      height: auto;
    }
  }
  h3 {
    font-size: 2.6rem;
    line-height: 1;
    margin: 62px 0 55px;
    color: #682017;
    text-align: center;
  }
  p{
    font-size: rem(14);
    line-height: 36px;
    text-align: center;
    color: #682017;
  }
  span{
    display: block;
    text-align: center;
    margin-top: 29px;
    img{
      width: 206px;
      height: 29px;
    }
  }
}
.st_movie{
  background: url(../img/bkg_movie.png) no-repeat;
  background-size: cover;
  padding: 0 0 28px;
  .inner{
    padding: 35px 0 0;
    position: relative;
    max-width: 579px;
    &:before{
      content:"";
      background: url(../img/af_arr.png) no-repeat;
      background-size: contain;
      width: 97px;
      height: 91px;
      position: absolute;
      top: -1px;
      left: 0;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 26px;
    img{
      width: auto;
      height: 48px;
    }
  }
  .ev_movie{
    display: block;
    margin: 0 auto 0;
    img{
      width: 100%;
    }
    &:hover{
      opacity: 1;
      img{
        opacity: 1;
      }
    }
  }
  .inner_koda {
    margin-top: 48px;
  }
  .gr_kodawari{
    &_item{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 0 percentage(15/1100);
      article{
        width: 340px;
        height: 340px;
        position: relative;
        background: #fff;
        margin-left: 15px;
        border-radius: 50%;
        padding: 43px 35px 0;
        span{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
        }
        h3{
          font-size: rem(30);
          line-height: 1;
          text-align: center;
          color: #682017;
          margin-bottom: 5px;
          letter-spacing: -1px;
        }
        p{
          font-size: rem(13);
          line-height: 23px;
          color: #682017;
          text-align: justify;
          letter-spacing:-0.07em;
        }
		&::before {
		  position: absolute;
		  top: 0;
		  left: 0;
		  content: '';
		  display: block;
		  width: 100%;
		  height: 100%;
		  background-repeat: no-repeat;
		  background-position: left top;
		  z-index: 10;
		  opacity: 1;
		  transition: all 0.3s ease;
		}
        &:nth-of-type(1) {
          span {
            img {
              width: 16px;
              height: auto;
            }
          }
		  &::before {
			  background-image: url(../img/kodawari_cover01.png);
			  background-size: 100% 100%;
		  }
        }
        &:nth-of-type(2) {
          span {
            img {
              width: 22px;
              height: auto;
            }
          }
		  &::before {
			  background-image: url(../img/kodawari_cover02.png);
			  background-size: 100% 100%;
		  }
        }
        &:nth-of-type(3) {
          span {
            img {
              width: 22px;
              height: auto;
            }
          }
		  &::before {
			  background-image: url(../img/kodawari_cover03.png);
			  background-size: 100% 100%;
		  }
        }
		&:hover {
			&::before {
				opacity: 0;
			}
		}
      }
    }
  }
}
.st_menu{
  padding: 39px 0 0px;
  .row{
    position: relative;
    &:before{
      content:"";
      background: url(../img/mn_01.svg) no-repeat;
      background-size: contain;
      width: 19px;
      height: 93px;
      position: absolute;
      top: 50%;
      left: 9px;
      transform: translateY(-50%);
      padding-top: 25px;
    }
    &:after{
      content:"";
      background: url(../img/mn_02.svg) no-repeat;
      background-size: contain;
      background-size: contain;
      width: 19px;
      height: 93px;
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
      padding-top: 5px;
    }
    @media screen and (max-width: 940px) {
      padding: 0 6%;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 90px;
    img{
      width: 152px;
      height: 49px;
    }
  }
  .gr_menu{
    // display: flex;
    // flex-flow: row wrap;
    margin-left: -4%;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    article{
      position: relative;
      transform: translateZ(0);
      width: calc(50% - 4%);
      margin:  0 0 13.5% 4%;
      height: 110px;
      float: left;
      &:nth-of-type(even) {
        float: right;
      }
      &:after{
        content:"";
        width: 100%;
        height: 110px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      a {
        display: block;
        height: 100%;
        // @media screen and (max-width: 940px) {
        //   padding-top: 2.5%;
        // }
        &:hover {
          opacity: 1;
          > figure {
            transform: translateY(-10px);
            img {
              opacity: 1;
            }
          }
        }
      }
      figure{
        position: absolute;
        transition: all 0.3s ease;
      }
      .right{
        height: 100%;
        padding-right: percentage(72/451);
        &_bx {
          height: 100%;
        }
        h3{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          line-height: 0;
          height: 100%;
          vertical-align: middle;
        }
      }
      &:nth-of-type(1){
        &:after{
          background:url(../img/bkg_mn01.png) no-repeat;
          background-size: contain;
        }
        figure{
          top: -121px;
          left: -35px;
          max-width: 264px;
          width: percentage(264/451);
          img{
            width: 100%;
            height: auto;
          }
        }
        .right{
          h3{
            img{
              width: 118px;
              height: auto;
            }
          }
        }
      }
      &:nth-of-type(2){
        &:after{
          background:url(../img/bkg_mn02.png) no-repeat;
          background-size: contain;
        }
        figure{
          top: -62px;
          left: -20px;
          width: percentage(237/451);
          img{
            max-width: 237px;
            width: 100%;
            height: auto;
          }
        }
        .right{
          h3{
            img{
              width: 83px;
              height: auto;
            }
          }
        }
      }
      &:nth-of-type(3){
        margin-bottom: 12.2%;
        &:after{
          background:url(../img/bkg_mn03.png) no-repeat;
          background-size: contain;
        }
        figure{
          top: -47px;
          left: 14px;
          width: percentage(140/451);
          @media screen and (max-width: 940px) {
            left: 23px;
          }
          img{
            width: 100%;
            height: auto;
            max-width: 140px;
          }
        }
        .right{
          h3{
            img{
              width: 132px;
              height: auto;
            }
          }
        }
      }
      &:nth-of-type(4){
        margin-bottom: 12.2%;
        &:after{
          background:url(../img/bkg_mn04.png) no-repeat;
          background-size: contain;
        }
        figure{
          top: -74px;
          left: 54px;
          width: percentage(120/451);
          @media screen and (max-width: 940px) {
            left: 30px;
          }
          img{
            width: 100%;
            max-width: 129px;
            height: auto;
          }
        }
        .right{
          padding-right: percentage(40/451);
          h3{
            img{
              width: 172px;
              height: auto;
            }
          }
        }
      }
      &:nth-of-type(5){
        margin-bottom: 12.2%;
        &:after{
          background:url(../img/bkg_mn05.png) no-repeat;
          background-size: contain;
        }
        figure{
          top: -48px;
          left: 50px;
          width: percentage(112/451);
          @media screen and (max-width: 940px) {
            left: 30px;
          }
          img{
            width: 100%;
            max-width: 120px;
            height: auto;
          }
        }
        .right{
          padding-right: percentage(66/451);
          h3{
            img{
              width: 130px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
.st_shop{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: 58px 0;
  position: relative;
  &:before{
    content:"";
    background: url(../img/bd_shop_pc.png) repeat-x;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 0;
  }
  .row{
    padding: 0 2%;
  }
  h2{
    text-align: center;
    margin-bottom: 56px;
    img{
      width: 156px;
      height: 50px;
    }
  }
  figure{
    figcaption{
      a{
        font-size: rem(14);
        line-height: 1;
        color: #4F4D62;
        letter-spacing: 1px;
        width: 135px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../img/bkg_maps.png) no-repeat;
        background-size: contain;
        margin-top: 20px;
        font-family: $osw;
      }
    }
  }
  .gr_shop{
    display: flex;
    flex-flow: row wrap;
    margin-left: -5%;
    article{
      width: calc(50% - 5%);
      display: flex;
      margin: 0 0 0.6% 5%;
      &:not(:nth-child(-n+2)) {
        margin-top: 45px;
      }
      figure{
        width: percentage(201/420);
        img{
          width: 100%;
          max-width: 201px;
          height: auto;
        }
      }
      .art_r{
        padding-left: 20px;
        width: percentage(219/420);
        > p {
          line-height: 0;
          margin-bottom: 10px;
          span {
            display: inline-block;
            line-height: 0;
            position: relative;
            &::before {
              position: absolute;
              content: attr(data-txt);
              font-size: 1.2rem;
              line-height: 21px;
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              letter-spacing: 1em;
            }
          }
          img {
            width: 80px;
            height: auto;
          }
        }
        h3{
          font-size: rem(18);
          line-height: 24px;
          color: #682017;
          font-weight: bold;
          margin-bottom: 10px;
        }
        &_m{
          dl{
            &:not(:last-child){
              margin-bottom: 9px;
            }
            dt{
              font-size: rem(10);
              line-height: 1;
              font-family: $osw;
              color: #682017;
              margin-bottom: 2px;
            }
            dd{
              font-size: rem(12);
              line-height: 15px;
              color: #682017;
              .tel{
                color: #682017;
              }
            }
          }
        }
      }
    }
  }
}