.st_happiness{
  padding: vw(100) 0 vw(81);
  position: relative;
  &:before{
    content:"";
    background: url(../img/bf_hp_sp.png) repeat-x;
    background-size: contain;
    width: 100%;
    height: vw(16);
    position: absolute;
    top: vw(-16);
    left: 0;
  }
  .wrap{
    position: relative;
  }
  .ttl_hp{
    font-size: vw(68);
    line-height: vw(97);
    text-align: center;
    color: #682017;
    margin-bottom: vw(30);
    font-weight: bold;
    img {
      width: vw(630);
      height: auto;
    }
  }
  h3 {
    font-size: vw(36);
    line-height: 1;
    color: #682017;
    text-align: center;
    margin: vw(70) 0 vw(60);
  }
  p{
    font-size: vw(23);
    line-height: vw(54);
    text-align: center;
    color: #682017;
    white-space: nowrap;
    width: calc(100% + #{vw(70)});
    margin: 0 vw(-35);
    letter-spacing: -0.5px;
  }
  span{
    display: block;
    text-align: center;
    margin-top: vw(30);
    img{
      width: vw(309);
      height: vw(42);
    }
  }
}
.st_movie{
  background: url(../img/bkg_movie.png) no-repeat;
  background-size: cover;
  padding: 0 0 vw(97);
  .inner{
    padding: vw(62) vw(34) 0;
    position: relative;
    &:before{
      content:"";
      background: url(../img/af_arr.png) no-repeat;
      background-size: contain;
      width: vw(147);
      height: vw(107);
      position: absolute;
      top: vw(-1);
      left: vw(64);
	  left: 0;
    }
  }
  h2{
    text-align: center;
    margin-bottom: vw(30);
    img{
      width: auto;
      height: 9.5176vw;
    }
  }
  .ev_movie{
    display: block;
    margin: 0 auto 0;
    img{
      width: 100%;
    }
  }
  .inner_koda {

  }
  .gr_kodawari{
    padding: vw(56) vw(50) 0;
    &_item{
      display: flex;
      flex-direction: column;
      align-items: center;
      article{
        position: relative;
        padding: vw(60) vw(52) 0;
        width: vw(510);
        height: vw(510);
        background: #fff;
        border-radius: 50%;
		cursor: pointer;
		&::before {
		  position: absolute;
		  top: 0;
		  left: 0;
		  content: '';
		  display: block;
		  width: 100%;
		  height: 100%;
		  background-repeat: no-repeat;
		  background-position: left top;
		  z-index: 10;
		  opacity: 1;
		  transition: all 0.3s ease;
		}
        &:nth-of-type(1){
          span{
            img{
              width: vw(23);
              height: vw(73);
            }
          }
		  &::before {
			  background-image: url(../img/kodawari_cover01.png);
			  background-size: 100% 100%;
		  }
        }
        &:nth-of-type(2){
          span{
            img{
              width: vw(33);
              height: vw(73);
            }
          }
		  &::before {
			  background-image: url(../img/kodawari_cover02.png);
			  background-size: 100% 100%;
		  }
        }
        &:nth-of-type(3){
          span{
            img{
              width: vw(33);
              height: vw(74);
            }
          }
		  &::before {
			  background-image: url(../img/kodawari_cover03.png);
			  background-size: 100% 100%;
		  }
        }
		&:hover, &:active {
			&::before {
				opacity: 0;
			}
		}
        &:not(:last-child){
          margin-bottom: vw(40);
        }
        span{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
        }
        h3{
          font-size: vw(45);
          line-height: 1;
          text-align: center;
          color: #682017;
          margin-bottom: vw(5);
        }
        p{
          font-size: vw(19);
          line-height: vw(34.5);
          color: #682017;
        }
      }
    }
  }
}
.st_kodawari{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: vw(62) 0 vw(92);
  position: relative;
  &:after{
    content:"";
    background: url(../img/bd_shop_sp.png) repeat-x;
    background-size:contain;
    width: 100%;
    height: vw(7);
    position: absolute;
    bottom: vw(10);
    left: 0;
  }
  .inner{
    padding: 0 2.2%;
  }
  h2{
    text-align: center;
    margin-bottom: vw(55);
    img{
      width: vw(454);
      height: vw(74);
    }
  }
  .gr_kodawari{
    padding: 0 vw(50);
    &_item{
      article{
        position: relative;
        padding: 0 0 vw(30);
        &:nth-of-type(1){
          span{
            img{
              width: vw(23);
              height: vw(73);
            }
          }
        }
        &:nth-of-type(2){
          span{
            img{
              width: vw(33);
              height: vw(73);
            }
          }
        }
        &:nth-of-type(3){
          span{
            img{
              width: vw(33);
              height: vw(74);
            }
          }
        }
        &:not(:last-child){
          margin-bottom: vw(40);
          &:after{
            content:"";
            background: url(../img/bd_shop_sp.png) repeat-x;
            background-size:contain;
            width: 100%;
            height: vw(7);
            position: absolute;
            bottom: vw(-8);
            left: 0;
            z-index: 9;
          }
        }
        span{
          display: block;
          text-align: center;
          margin-bottom: vw(25);
        }
        h3{
          font-size: vw(52);
          line-height: 1.5;
          text-align: center;
          color: #682017;
          margin-bottom: vw(20);
        }
        p{
          font-size: vw(23);
          line-height: vw(36);
          color: #682017;
        }
      }
    }
    .btn{
      a{
        width: vw(360);
        height: vw(72);
        background: url(../img/bkg_btn.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: vw(40) auto 0;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: vw(48);
          height: vw(17);
          background: url('../img/arr_btn.png') 0 0 no-repeat;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: vw(34);
        }
        span{
          font-size: vw(25);
          line-height: 1;
          color: #4F4D62;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.st_menu{
  padding: vw(43) 0 vw(63);
  .row{
    position: relative;
    &:before{
      content:"";
      background: url(../img/mn_01.svg) no-repeat;
      background-size: contain;
      width: vw(23);
      height: vw(112);
      position: absolute;
      top: 50%;
      left: vw(34);
      transform: translateY(-50%);
    }
    &:after{
      content:"";
      background: url(../img/mn_02.svg) no-repeat;
      background-size: contain;
      width: vw(23);
      height: vw(112);
      position: absolute;
      top: 50%;
      right: vw(34);
      transform: translateY(-50%);
    }
  }
  h2{
    text-align: center;
    margin-bottom: vw(147);
    img{
      width: vw(228);
      height: vw(73);
    }
  }
  .gr_menu{
    padding: 0 vw(94);
    article{
      position: relative;
      transform: translateZ(0);
      height: vw(120);
      &:after{
        content:"";
        width: 100%;
        height: vw(120);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      &:not(:last-child){
        margin-bottom: vw(100);
      }
      &:nth-of-type(1){
        &:after{
          background:url(../img/bkg_mn01.png) no-repeat;
          background-size: auto;
        }
        figure{
          top: vw(-135);
          left: vw(-35);
          img{
            width: vw(280);
            height: vw(291);
          }
        }
        .right{
          padding-right: vw(80);
          h3{
            img{
              width: vw(128);
              height: vw(58);
            }
          }
        }
      }
      &:nth-of-type(2){
        &:after{
          background:url(../img/bkg_mn02.png) no-repeat;
          background-size: auto;
        }
        figure{
          top: vw(-62);
          left: vw(-20);
          img{
            width: vw(260);
            height: vw(212);
          }
        }
        .right{
          padding-right: vw(95);
          h3{
            img{
              width: vw(98);
              height: vw(58);
            }
          }
        }
      }
      &:nth-of-type(3){
        &:after{
          background:url(../img/bkg_mn03.png) no-repeat;
          background-size: auto;
        }
        figure{
          top: vw(-47);
          left: vw(14);
          img{
            width: vw(152);
            height: vw(191);
          }
        }
        .right{
          padding-right: vw(70);
          h3{
            img{
              width: vw(148);
              height: vw(58);
            }
          }
        }
      }
      &:nth-of-type(4){
        &:after{
          background:url(../img/bkg_mn04.png) no-repeat;
          background-size: auto;
        }
        figure{
          top: vw(-74);
          left: vw(54);
          img{
            width: vw(129);
            height: vw(238);
          }
        }
        .right{
          padding-right:vw(45);
          h3{
            img{
              width: vw(202);
              height: vw(58);
            }
          }
        }
      }
      &:nth-of-type(5){
        &:after{
          background:url(../img/bkg_mn05.png) no-repeat;
          background-size: auto;
        }
        figure{
          top: vw(-40);
          left: vw(54);
          img{
            width: vw(120);
            height: auto;
          }
        }
        .right{
          padding-right:vw(50);
          h3{
            img{
              width: vw(130*1.2);
              height: auto;
            }
          }
        }
      }
      figure{
        position: absolute;
      }
      .right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        text-align: center;
      }
    }
  }
}
.st_shop{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: vw(78) 0 vw(100);
  position: relative;
  &:before{
    content:"";
    background: url(../img/bd_shop_sp.png) repeat-x;
    background-size: contain;
    width: 100%;
    height: vw(7);
    position: absolute;
    top: vw(7);
    left: 0;
  }
  h2{
    text-align: center;
    margin-bottom: vw(53);
    img{
      width: vw(219);
      height: vw(74);
    }
  }
  figure{
    figcaption{
      a{
        font-size: vw(21);
        line-height: 1;
        color: #4F4D62;
        letter-spacing: 1px;
        width: vw(202);
        height: vw(45);
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../img/bkg_maps.png) no-repeat;
        background-size: contain;
        background-size: contain;
        margin-top: vw(30);
        font-family: $osw;
      }
    }
  }
  .gr_shop{
    padding: 0 0 0 vw(40);
    article{
      display: flex;
      &:not(:last-child){
        margin-bottom: vw(80);
      }
      figure{
        width: vw(320);
        img{
          width: 100%;
          height: auto;
        }
      }
      .art_r{
        width: calc(100% - #{vw(300)});
        padding-left: vw(30);
        > p {
          line-height: 0;
          margin-bottom: vw(15);
          img {
            width: vw(120);
            height: auto;
          }
          span {
            display: inline-block;
            line-height: 0;
            position: relative;
            &::before {
              position: absolute;
              content: attr(data-txt);
              font-size: vw(18);
              line-height: vw(36);
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
            }
          }
        }
        h3{
          font-size: vw(27);
          line-height: vw(36);
          color: #682017;
          font-weight: bold;
          margin-bottom: vw(15);
        }
        &_m{
          dl{
            &:not(:last-child){
              margin-bottom: vw(10);
            }
            dt{
              font-size: vw(15);
              line-height: 1;
              font-family: $osw;
              color: #682017
            }
            dd{
              font-size: vw(18);
              line-height: vw(30);
              color: #682017;
              .tel{
                color: #682017;
              }
            }
          }
        }
      }
    }
  }
}