@charset "UTF-8";
@import "./_mixin/mixin";
.inner {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
.container{
  min-width: 768px;
  margin: 0 auto;
}
@include min-screen() {
  @import "./_header_pc.scss";
  @import "./_footer_pc.scss";
}
@include max-screen() {
  @import "./_header_sp.scss";
  @import "./_footer_sp.scss";
}