@charset "UTF-8";
@import "./_mixin/mixin";

@keyframes girl {
  0% {
    transform: translate(0,0);
  }
  20% {
    transform: translate(20px,-40px);
  }
  40% {
    transform: translate(-10px,-60px);
  }
  60% {
    transform: translate(10px,-80px);
  }
  80% {
    transform: translate(5px,-100px);
  }
}
@keyframes ball {
  0% {
    transform: translate(0,0);
  }
  20% {
    transform: translate(-10px,10px);
  }
  40% {
    transform: translate(-5px,30px);
  }
  60% {
    transform: translate(-15px,50px);
  }
  80% {
    transform: translate(-10px,70px);
  }
}
@include min-screen() {
  @import "./_dac_pc.scss";
  @import "./_thong_pc.scss";
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(90deg, rgba(#fad7d5,0.8) 50%, rgba(#d3e9c8,0.8) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 999;
    &.open {
      opacity: 1;
      visibility: visible;
      .main_popup {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
    .main_popup {
      visibility: hidden;
      position: relative;
      transform: translateY(100px);
      transition: all 0.3s ease;
      text-align: left;
      width: 900px;
      max-width: 100%;
      iframe {
        width: 100%;
        height: 600px;
      }
      .close {
        position: absolute;
        z-index: 2;
        top: -71px;
        right: -71px;
        display: inline-block;
        text-indent: -9999px;
        width: 71px;
        height: 71px;
        overflow: hidden;
        border: none;
        background: url('../img/icon_close.png') no-repeat center;
        border-radius: 50%;

        // &::before,&::after {
        //   content: '';
        //   position: absolute;
        //   height: 2px;
        //   width: 100%;
        //   top: 50%;
        //   left: 0;
        //   background: #fff;
        //   border-radius: 5px;
        //   margin-top: -5px;
        // }
        // &::before {
        //   transform: rotate(45deg);
        // }
        // &::after {
        //   transform: rotate(-45deg);
        // }
      }
    }
  }
}
@include max-screen() {
  @import "./_dac_sp.scss";
  @import "./_thong_sp.scss";
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(90deg, rgba(#fad7d5,0.8) 50%, rgba(#d3e9c8,0.8) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    z-index: 999;
    &.open {
      opacity: 1;
      visibility: visible;
      .main_popup {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
    .main_popup {
      visibility: hidden;
      position: relative;
      transform: translateY(100px);
      transition: transform 0.3s ease;
      text-align: left;
      width: 90%;
      max-width: 100%;
      iframe {
        width: 100%;
        height: vw(600);
      }
      .close {
        position: absolute;
        z-index: 2;
        top: vw(-81);
        right: vw(-35);
        display: inline-block;
        text-indent: -9999px;
        width: vw(71);
        height: vw(71);
        overflow: hidden;
        border: none;
        background: url('../img/icon_close.png') 0 0 no-repeat;
        background-size: contain;
        // &::before,&::after {
        //   content: '';
        //   position: absolute;
        //   height: 2px;
        //   width: 100%;
        //   top: 50%;
        //   left: 0;
        //   margin-top: -1px;
        //   background: #fff;
        //   border-radius: 5px;
        //   margin-top: -6px;
        // }
        // &::before {
        //   transform: rotate(45deg);
        // }
        // &::after {
        //   transform: rotate(-45deg);
        // }
      }
    }
  }
}
.effect {
  transition: all 1s ease;
}
.delay_03 {
  transition: all 1s ease 0.3s;
}
.delay_06 {
  transition: all 1s ease 0.6s;
}
.delay_09 {
  transition: all 1s ease 0.9s;
}
.delay_12 {
  transition: all 1s ease 1.2s;
}
.delay_15 {
  transition: all 1s ease 1.5s;
}