.st_contact{
  
  padding: 70px 0;
  .ttl_st{
    font-size: rem(26);
    line-height: 31px;
    color: #682017;
    font-weight: bold;
    margin-bottom: 10px;
  }
  em{
    font-size: rem(12);
    line-height: 24px;
    display: block;
    font-style: normal;
    color: #682017;
    margin-bottom: 75px;
  }
  .gr_contact{
    background-color: #fff;
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 90px 50px;
    .b_bottom{
      position: relative;
      &:before{
        content:"";
        background:url(../asset/img/br_bottom_pc.png) repeat-x;
        width: 100%;
        height: 4px;
        position: absolute;
        top: -38px;
        left: 0;
      }
      h3{
        font-size: rem(18);
        line-height: 31px;
        display: block;
        font-weight: bold;
        color: #682017;
      }
      p{
        font-size: rem(14);
        line-height: 24px;
        color: #682017;
        a{
          color: #B05529;
        }
        .tel{
          color: #682017;
        }
      }
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
}
.footer {
  margin-top: auto;
}