.st_contact{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: vw(70) 0;
  .ttl_st{
    font-size: vw(45);
    line-height: vw(36);
    color: #682017;
    font-weight: bold;
    margin-bottom: vw(20);
  }
  em{
    font-size: vw(26);
    line-height: vw(38);
    display: block;
    font-style: normal;
    color: #682017;
    margin-bottom: vw(120);
    a{
      color: #B05529;
    }
  }
  .gr_contact{
    background-color: #fff;
    margin: 0 auto;
    padding: vw(75) vw(40) vw(100);
    .b_bottom{
      position: relative;
      &:before{
        content:"";
        background:url(../asset/img/br_bottom_sp.png) repeat-x;
        background-size: contain;
        width: 100%;
        height: vw(7);
        position: absolute;
        top: vw(-58);
        left: 0;
      }
      h3{
        font-size: vw(34);
        line-height: vw(62);
        display: block;
        font-weight: bold;
        color: #682017;
      }
      p{
        font-size: vw(26);
        line-height: vw(48);
        color: #682017;
        a{
          color: #B05529;
          text-decoration: underline;
        }
      }
    }
  }
}