.ttl_section{
  line-height: 0;
  padding: vw(40) vw(34);
  margin: 0 vw(-34);
  position: relative;
  &:after{
    content:"";
    background: url(images/icon_down.png) no-repeat;
    background-size: contain;
    width: vw(64);
    height: vw(36);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: vw(30);
    transition: transform 0.3s ease;
    transform-origin: 50% 50%;
  }
  span{
    font-size: vw(31);
    line-height: 1;
    color: #fff;
    display: inline-block;
    margin: 0 0 0 vw(20);
  }
  &.ttl_don{
    background-color: #F8C9C7;
    img{
      width: vw(333);
      height: auto;
    }
    span{
    }
  }
  &.ttl_crepe{
    background-color: #C4E1B6;
    img{
      width: vw(268);
      height: auto;
    }
  }
  &.ttl_combi{
    background-color: #FFF479;
    img{ 
      width: vw(398);
      height: auto;
    }
    span{
      color: #A7A6B0;
    }
  }
  &.ttl_cream{
    background-color: #A4D4DE;
    img{
      width: vw(419);
      height: auto;
    }
    span{
      margin-left: vw(2);
      letter-spacing: vw(-2);
    }
  }
  &.ttl_tapioka{
    background-color: #D2B4C8;
    img{
      width: vw(375);
      height: auto;
    }
  }
}
.main_st{
  padding-top: vw(35);
  display: none;
  p{
    font-size: vw(24);
    line-height: vw(42);
    color: #B05529;
  }
}
article{
  display: flex;
  align-items: center;
  figure{
    width: calc(100% - #{vw(165)});
    img{
      width: 100%;
      height: auto;
    }
  }
  .main_art{
    padding-left: vw(15);
    height: 100%;
    width: vw(165);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h3{
      font-size: vw(20);
      line-height: vw(28);
      color: #B05529;
      font-weight: bold;
      margin-bottom: vw(15);
      letter-spacing: -1px;
      font-family: $rounded;
    }
    em{
      font-size: vw(12);
      line-height: 1.5;
      color: #D0997F;
      font-style: normal;
      margin-bottom: vw(15);
      display: block;
      font-family: $rounded;
      font-weight: 500;
    }
    .b_tp{
      display: flex;
      align-items: flex-end;
      margin-top: vw(20);
    }
    .tt_tp{
      font-size: vw(12);
      line-height: 1;
      width: vw(202);
      height: vw(27);
      color: #B05529;
      border-radius: vw(30);
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: vw(-1);
      font-family: $rounded;
      font-weight: 500;
    }
  }
}
section{
  &:not(:last-child){
    margin-bottom: vw(15);
  }
}
.st_donuts{
  background-color: #FAD7D5;
  .top_don{
    .b_ori{
      display: flex;
      align-items: center;
      margin-top: vw(100);
      &_l{
        padding-top: vw(100);
        .sub_top{
          margin-bottom: vw(35);
          img{
            width: vw(151);
            height: auto;
          }
        }
        h3{
          font-size: vw(27);
          line-height: vw(39);
          color: #B05529;
          font-weight: bold;
          margin-bottom: vw(15);
        }
        em{
          font-size: vw(21);
          line-height: vw(27);
          color: #D0997F;
          font-style: normal;
          margin-bottom: vw(15);
          display: block;
        }
        .tt_tp{
          font-size: vw(16);
          line-height: 1;
          width: vw(202);
          height: vw(27);
          color: #B05529;
          border-radius: vw(30);
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      figure{
        img{
          margin: vw(-40) 0 0 vw(-70);
          width: vw(566);
        }
      }
    }
  }
  .gr_art{
    display: flex;
    margin: vw(60) 0 0 vw(-40);
    flex-flow: row wrap;
    article{
      width: calc(50% - #{vw(40)});
      margin: 0 0 vw(70) vw(40);
    }
  }
}
.st_crepe{
  background-color: #D3E9C8;
  .row{
    position: relative;
  }
  .main_st{
    .top_crepe{
      &_left{
        margin-top: vw(20);
        article{
          figure{
            position: relative;
            img{
              width: vw(520);
              height: auto;
            }
            figcaption{
              position: absolute;
              bottom: vw(-50);
              left: vw(100);
              img{
                width: vw(175);
                height: vw(175);
              }
            }
          }
          .main_art{
            padding-left: 0;
            width: 50%;
            margin: vw(225) 0 0 vw(-40);
            h3{
              font-size: vw(27);
              line-height: vw(39);
            }
            em{
              font-size: vw(16);
              line-height: vw(20);
            }
            .tt_tp{
              width: vw(203);
              height: vw(27);
              font-size: vw(16);
            }
          }
        }
      }
      &_right{
        display: flex;
        justify-content: flex-end;
        margin-left: vw(-40);
         article{
          width: calc(50% - #{vw(40)});
          margin: vw(60) 0 0 vw(40);
          figure{
            position: relative;
            figcaption{
              position: absolute;
              bottom: vw(-25);
              left: vw(20);
              img{
                width: vw(66);
                height: vw(66);
              }
            }
          }
        }
      }
    }
    .gr_crepe{
      margin-top: vw(60);
      dl{
        dt{
          text-align: center;
        }
      }
      &_left{
        margin-bottom: vw(30);
        dt{
          margin-bottom: vw(40);
          img{
            width: vw(679);
            margin: 0 auto 0;
          }
        }
       dd{
          display: flex;
          flex-flow: row wrap;
          margin-left: vw(-40);
          article{
            width: calc(50% - #{vw(40)});
            margin: 0 0 vw(40) vw(40);
          }
        }
      }
      &_right{
        position: relative;
        dt{
          margin-bottom: vw(40);
          img{
            width: vw(679);
            margin: 0 auto 0;
          }
        }
        dd{
          display: flex;
           margin-left: vw(-40);
          flex-flow: row wrap;
          article{
            width: calc(50% - #{vw(40)});
            margin: 0 0 vw(40) vw(40);
          }
        }
      }
    }
  }
}
.st_combi{
  background-color: #FFF79B;
  .row{
    position: relative;
  }
  .main_st{
    .gr_combi{
      display: flex;
      flex-flow: row wrap;
      margin: vw(60) 0 0 vw(-40);
      padding: 0 vw(35);
      article{
        width: calc(50% - #{vw(40)});
        margin: 0 0 vw(40) vw(40);
        figure{
          img{
            width: vw(138);
            height: auto;
          }
        }
      }
    }
  }
}
.st_cream{
  background-color: #BDE0E7;
  .main_st{
    .gr_cream{
      display: flex;
      flex-flow: row wrap;
      margin: vw(60) 0 0 vw(-40);  
      padding: 0 vw(35);
      article{
        width: calc(50% - #{vw(40)});
        margin: 0 0 vw(40) vw(40);
        .main_art{
          height: auto;
          padding-top: vw(40);
        }
      }
    }
  }
}
.st_tapioka{
  background-color: #E1CDDC;
  .main_st{
    .gr_tapioka{
      display: flex;
      flex-flow: row wrap;
      margin: vw(60) 0 0 vw(-40);
      padding: 0 vw(35);
      article{
        width: calc(50% - #{vw(40)});
        margin: 0 0 vw(40) vw(40);
      }
    }
  }
}
.according {
  &_obj {
    
  }
  &.active {
    .ttl_section {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}