.ttl_section{
  line-height: 0;
  span{
    font-size: rem(21);
    line-height: 1;
    color: #fff;
    display: inline-block;
    margin: 0 0 0 15px;
  }
  &.ttl_don{
    margin-bottom: 29px;
    img{
      width: 222px;
      height: auto;
    }
    span{
    }
  }
  &.ttl_crepe{
    img{
      width: 179px;
      height: auto;
    }
  }
  &.ttl_combi{
    img{
      width: 291px;
      height: auto;
    }
    span{
      color: #A7A6B0;
    }
  }
  &.ttl_cream{
    img{
      width: 338px;
      height: auto;
    }
  }
  &.ttl_tapioka{
    img{
      width: 251px;
      height: auto;
    }
  }
}
.main_st{
  p{
    font-size: rem(16);
    line-height: 28px;
    color: #B05529;
  }
}
article{
  display: flex;
  align-items: center;
  figure{
    img{
      width: 100%;
      height: auto;
    }
  }
  .main_art{
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h3{
      font-size: rem(18);
      line-height: 26px;
      color: #B05529;
      font-weight: bold;
      margin-bottom: 10px;
      letter-spacing: -1px;
      font-family: $rounded;
    }
    em{
      font-size: rem(11);
      line-height: 13px;
      color: #D0997F;
      font-style: normal;
      margin-bottom: 10px;
      display: block;
      font-family: $rounded;
      font-weight: 500;
    }
    .b_tp{
      display: flex;
      align-items: flex-end;
      margin-top: 23px;
    }
    .tt_tp{
      font-size: rem(11);
      line-height: 1;
      width: 140px;
      height: 18px;
      color: #B05529;
      border-radius: 30px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -1px;
      font-family: $rounded;
      font-weight: 500;
    }
  }
}
.st_donuts{
  background-color: #FAD7D5;
  padding: 153px 0 33px;
  .row{
    padding: 0 80px;
    @media screen and (max-width: 993px) {
      padding: 0 30px;
    }
  }
  .top_don{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 993px) {
      display: block;
    }
    .b_ori{
      display: flex;
      align-items: center;
      margin:-150px 8px 0 0;
      @media screen and (max-width: 993px) {
        margin-top: 70px;
      }
      &_l{
        padding-top: 70px;
        .sub_top{
          margin-bottom: 16px;
          img{
            width: 101px;
            height: auto;
          }
        }
        h3{
          font-size: rem(18);
          line-height: 26px;
          color: #B05529;
          font-weight: bold;
          margin-bottom: 4px;
        }
        em{
          font-size: rem(14);
          line-height: 18px;
          color: #D0997F;
          font-style: normal;
          margin-bottom: 12px;
          display: block;
        }
        .tt_tp{
          font-size: rem(11);
          line-height: 1;
          width: 135px;
          height: 18px;
          color: #B05529;
          border-radius: 30px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      figure{
        img{
          margin: -52px 0 0 -61px;
        }
      }
    }
  }
  .gr_art{
    display: flex;
    margin: 14px 0 0 -35px;
    flex-flow: row wrap;
    article{
      width: calc(33.33% - 35px);
      margin: 0 0 65px 35px;
      figure{
        width: 142px;
      }
      .main_art{
        width: calc(100% - 142px);
      }
      @media screen and (max-width: 993px) {
        width: calc(50% - 35px);
      }
    }
  }
}
.st_crepe{
  background-color: #D3E9C8;
  padding: 80px 0 48px;
  .row{
    position: relative;
    @media screen and (max-width: 1024px) {
      padding: 0 15px;
    }
  }
  .ttl_crepe{
    position: absolute;
    top: -30px;
    right: 226px;
    @media screen and (max-width: 993px) {
     position: inherit;
     top: 0;
     right: 0;
     margin: 0 0 20px 0;
    }
  }
  p{
    position: absolute;
    top: 47px;
    right: 92px;
    width: 415px;
    @media screen and (max-width: 993px) {
     position: inherit;
     top: 0;
     right: 0;
     margin: 0 0 20px 0;
    }
  }
  .main_st{
    .top_crepe{
      &_left{
        article{
          align-items: flex-start;
          figure{
            position: relative;
            img{
              width: 387px;
              height: auto;
              @media screen and (max-width: 1024px) {
                width: 357px;
              }
            }
            figcaption{
              position: absolute;
              bottom: -35px;
              left: 75px;
              img{
                width: 130px;
                height: 130px;
              }
            }
          }
          .main_art{
            padding: 18px 0 0 18px;
            h3{
              margin-bottom: 4px;
            }
            .b_tp{
              margin-top: 11px;
            }
          }
        }
      }
      &_right{
        display: flex;
        justify-content: flex-end;
        margin: -117px 33px 0 0;
        @media screen and (max-width: 1024px) {
          margin-top: -100px;
        }
        @media screen and (max-width: 993px) {
          margin: 60px 0 0 -35px;
          justify-content: flex-start;
        }
        article{
          @media screen and (max-width: 993px) {
            width: calc(50% - 35px);
            margin: 0 0 0 35px;
          }
          figure{
            position: relative;
            figcaption{
              position: absolute;
              bottom: -10px;
              left: 20px;
              img{
                width: 60px;
                height: 60px;
              }
            }
          }
          .main_art{
            margin-bottom: 3px;
            .b_tp{
              margin-top: 8px;
            }
          }
        }
      }
    }
    .gr_crepe{
      display: flex;
      margin-top: 48px;
      padding: 0 25px;
      article{
        .main_art{
          padding-left: 18px;
          padding-top: 18px;
          h3{
            margin-bottom: 3px;
          }
          em{
            margin-bottom: 0;
          }
          .b_tp{
            margin-top: 10px;
          }
        }
      }
      dl{
        dt{
          text-align: center;
        }
      }
      &_left{
        width: 32%;
        padding-right: 1%;
        dt{
          margin-bottom: 36px;
          img{
            width: 290px;
            margin: 0 auto 0;
          }
        }
        dd{
          article{
            margin-bottom: 65px;
          }
        }
      }
      &_right{
        width: 67%;
        padding-left: 5%;
        position: relative;
        &:before{
          content:"";
          background: url(images/bd_art.png) repeat;
          width: 5px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 21px;
        }
        dt{
          margin-bottom: 24px;
          img{
            width: percentage(615/700);
            margin: 0 auto 0;
          }
        }
        dd{
          display: flex;
          margin: 0 0 0 -5px;
          flex-flow: row wrap;
          article{
            width: calc(50% - 5px);
            margin: 0 0 65px 5px;
          }
        }
      }
    }
  }
}
.st_combi{
  background-color: #FFF79B;
  padding: 58px 0 88px;
  .row{
    position: relative;
    padding: 0 80px;
  }
  .ttl_combi{
    margin-bottom: 30px;
  }
  .main_st{
    .gr_combi{
      display: flex;
      flex-flow: row wrap;
      margin: 70px 0 0 -35px;
      article{
        width: calc(33.33% - 35px);
        margin: 0 0 0 35px;
        &:nth-of-type(1){
          position: absolute;
          top: -4px;
          right: 33px;
        }
        figure{
          img{
            width: 128px;
            height: auto;
          }
        }
        .main_art{
          padding: 28px 0 0 26px;
          height: auto;
          h3{
            margin-bottom: 6px;
          }
          em{
            margin-bottom: 8px;
          }
          .b_tp{
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.st_cream{
  background-color: #BDE0E7;
  padding: 58px 0 72px;
  .row{
    padding: 0 80px;
  }
  .ttl_cream{
    margin-bottom: 29px;
  }
  .main_st{
    .gr_cream{
      display: flex;
      flex-flow: row wrap;
      margin: 35px 0 0 -35px;
      padding: 0 18px;
      article{
        width: calc(33.33% - 35px);
        margin: 0 0 0 35px;
        .main_art{
          height: auto;
          padding: 40px 0 0 20px;
        }
      }
    }
  }
}
.st_tapioka{
  background-color: #E1CDDC;
  padding: 58px 0 98px;
  .row{
    padding: 0 80px;
  }
  .ttl_tapioka{
    margin-bottom: 30px;
  }
  .main_st{
    .gr_tapioka{
      display: flex;
      flex-flow: row wrap;
      margin: 58px 0 0 -43px;;
      padding: 0 29px;
      article{
        width: calc(33.33% - 43px;);
        margin: 0 0 0 43px;
        .main_art{
          padding: 40px 0 0 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 993px){
  .row{
    padding: 0 30px;
  }
  .st_donuts{
    padding: 60px 0;
  }
  .st_crepe {
    .main_st {
      .gr_crepe{
        display: block;
        &_left{
          width: 100%;
          dd{
            display: flex;
            flex-flow: row wrap;
            margin-left: -35px;
            article{
              width: calc(50% - 35px);
              margin: 0 0 65px 35px;
            }
          }
        }
        &_right{
          width: 100%;
          padding-left: 0;
          &:before{
            content:none;
          }
        }
      }
    }
  }
  .st_combi{
    .main_st{
      .gr_combi{
        display: flex;
        flex-flow: row wrap;
        margin: 70px 0 0 -35px;
        article{
          width: calc(50% - 35px);
          margin: 0 0 65px 35px;
          &:nth-of-type(1){
            position: inherit;
          }
        }
      }
    }
  }
  .st_cream{
    .main_st{
      .gr_cream{
        display: flex;
        flex-flow: row wrap;
        margin: 70px 0 0 -35px;
        article{
          width: calc(50% - 35px);
          margin: 0 0 65px 35px;
        }
      }
    }
  }
  .st_tapioka{
    .main_st{
      .gr_tapioka{
        display: flex;
        flex-flow: row wrap;
        margin: 70px 0 0 -35px;
        article{
          width: calc(50% - 35px);
          margin: 0 0 65px 35px;
          &:nth-of-type(1){
            position: inherit;
          }
        }
      }
    }
  }
}