.st_privacy{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: 70px 0;
  .ttl_st{
    font-size: rem(26);
    line-height: 31px;
    color: #682017;
    font-weight: bold;
    margin-bottom: 45px;
  }
  .gr_privacy{
    background-color: #fff;
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 90px 50px;
    .gr_dl{
      dl{
        &:not(:last-child){
          margin-bottom: 75px;
          position: relative;
          &:after{
            content:"";
            background:url(../asset/img/br_bottom_pc.png) repeat-x;
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: -38px;
            left: 0;
          }
        }
        dt{
          font-size: rem(18);
          line-height: 31px;
          font-weight: bold;
          color: #682017;
          margin-bottom: 10px;
          display: block;
        }
        dd{
          font-size: rem(14);
          line-height: 24px;
          color: #682017;
        }
      }
    }
    span{
      font-size: rem(14);
      line-height: 24px;
      color: #682017;
      display: block;
      text-align: right;
      margin-top: 20px;
    }
  }
}