.st_privacy{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: vw(70) 0;
  .ttl_st{
    font-size: vw(45);
    line-height: vw(36);
    color: #682017;
    font-weight: bold;
    margin-bottom: vw(70);
  }
  .gr_privacy{
    background-color: #fff;
    margin: 0 auto;
    padding: vw(75) vw(40) vw(100);
    .gr_dl{
      dl{
        &:not(:last-child){
          margin-bottom: vw(120);
          position: relative;
          &:after{
            content:"";
            background:url(../asset/img/br_bottom_sp.png) repeat-x;
            background-size: contain;
            width: 100%;
            height: vw(7);
            position: absolute;
            bottom: vw(-58);
            left: 0;
          }
        }
        dt{
          font-size: vw(34);
          line-height: vw(62);
          font-weight: bold;
          color: #682017;
          margin-bottom: vw(20);
          display: block;
        }
        dd{
          font-size: vw(26);
          line-height: vw(48);
          color: #682017;
        }
      }
    }
    span{
      font-size: vw(26);
      line-height: vw(48);
      color: #682017;
      display: block;
      text-align: right;
      margin-top: 20px;
    }
  }
}