.st_company{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: vw(70) 0;
  .ttl_st{
    font-size: vw(45);
    line-height: vw(36);
    color: #682017;
    font-weight: bold;
    margin-bottom: vw(50);
  }
  .gr_company{
    background-color: #fff;
    margin: 0 auto;
    padding: vw(75) vw(40) vw(100);
    .list_profile{
      li{
        display: flex;
        height: auto;
        padding: vw(22) 0;
        &:not(:last-child){
          border-bottom: 1px solid #682017;  
        }
        span{
          display: block;
          font-size: vw(26);
          line-height: 1;
          color: #682017;
          width: vw(175);
        }
        em{
          display: block;
          font-style: normal;
          font-size: vw(26);
          line-height: vw(40);
          color: #682017;
          width: calc(100% - #{vw(175)});
          figure{
            margin-top: vw(20);
            img{
              width: vw(246);
              height: auto;
            }
          }
          strong{
            font-weight: normal;
            display: block;
             small{
              margin-right: vw(20);
            } 
          }
        }
      }
    }
  }
}