.st_company{
  background: linear-gradient(90deg, rgba(250,215,213,1) 50%, rgba(211,233,200,1) 50%);
  padding: 70px 0;
  .ttl_st{
    font-size: rem(26);
    line-height: 31px;
    color: #682017;
    font-weight: bold;
    margin-bottom: 26px;
  }
  .gr_company{
    background-color: #fff;
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 65px 50px;
    .list_profile{
      li{
        display: flex;
        height: auto;
        padding: 17px 0;
        &:not(:last-child){
          border-bottom: 1px solid #682017;
        }
        span{
          display: block;
          font-size: rem(14);
          line-height: 1;
          color: #682017;
          padding-left: 25px;
          width: 200px;
        }
        em{
          display: block;
          font-style: normal;
          font-size: rem(14);
          line-height: 20px;
          color: #682017;
          width: calc(100% - 200px);
          padding-left: 17px;
          figure{
            margin-top: 15px;
            img{
              width: 164px;
              height: auto;
            }
          }
          strong{
            display: flex;
            font-weight: normal;
            small{
              width: 110px;
              display: block;
              font-size: rem(14);
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}